.item{
    width: 200px;
    gap: 20px;
   
    /* border-radius: 10px; */
    height: 150px;
    
    
}

.item .imag{
    width: 200px;
    height: 200px;
}

.item p{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}
.itemPrice{
    display: flex;
    gap: 20px;
}
.itemPriceNew{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}