.navbar{
    border: 1px solid gray;
    background-color:none;
    border-left: 0px;
    border-right: 0px;
    position:sticky;
   
    
   
    
}
.nav-item{
    margin-right: 20px;
    font-weight: 600;
   
}
