.breadcrum .arrow{
    width: 20px;
    height: 10px;
}
.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(153, 147, 147);
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}